<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/images/playstation pics/ps-home.png"
        class="d-block w-100"
        alt="playstation_logo"
      />
      <div class="carousel-caption text-top">
        <h6>
          Experience lightning-fast loading with an ultra-high speed SSD
          <br />
          deeper immersion with support for haptic feedback adaptive triggers
          and 3D Audio, <br />
          and an all-new generation of incredible PlayStation®
        </h6>
      </div>
      <div class="carousel-caption PS-carousel-captio">
        <h6 class="d-none d-md-block">View PlayStation® Page</h6>
        <a href="/ps4"
          ><button type="button" class="btn btn-light PSbutton">
            Playstation
          </button></a
        >
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="images/xbox pics/xbox-home.jpg"
        class="d-block w-100"
        alt="xbox_logo"
      />
      <div class="carousel-caption text-top">
        <h6>
          New generation console. New generation games. <br />
          Embark on new adventures the way they’re meant to be experienced on
          <br />
          Xbox Series X.
        </h6>
      </div>
      <div class="carousel-caption xbox-carousel-captio">
        <h6 class="d-none d-md-block">View Page Xbox Series X.</h6>
        <a href="/xbox"
          ><button type="button" class="btn btn-light XBOXbutton">
            XBOX
          </button></a
        >
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleCaptions"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
