<div class="home-section">
  <div class="home-title">
    <div class="d-flex justify-content-center">
      <h4>New Generation Console New Generation Games</h4>
    </div>
    <hr />
  </div>
  <div class="home-redirect">
    <div class="container d-flex justify-content-around warp">
      <div>
        <img
          src="/images/playstation pics/ps-redirect.png"
          alt=""
          height="100"
          width="333"
        />
        <div class="move-center">
          <h6>Playstation official site</h6>
          <a href="https://www.playstation.com/en-us/" target="_blank">
            <button type="button" class="btn btn-light main-ps-btn">
              sony
            </button>
          </a>
        </div>
      </div>

      <div>
        <img
          src="/images/xbox pics/xbox-redirect.png"
          alt=""
          height="100"
          width="333"
        />
        <div class="move-center">
          <h6>Xbox official site</h6>
          <a
            href="https://www.microsoft.com/en-ww/microsoft-365"
            target="_blank"
          >
            <button type="button" class="btn btn-light main-xbox-btn">
              microsoft
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
