<footer>
  <div class="footer-wrap">
    <!-- LINK SECTION -->
    <div class="d-flex justify-content-center footer-img">
      <img
        src="https://droidjournal.com/wp-content/uploads/2020/05/Headerx30-5.png"
        alt="DroidJournal"
        data-rjs="2"
      />
    </div>
    <!-- ICON SECTION -->
    <div class="d-flex justify-content-center footer-icon">
      <i class="fab fa-facebook fa-2"></i>
      <i class="fab fa-twitter fa-2"></i>
      <i class="fab fa-instagram fa-2"></i>
    </div>
    <!-- LINK SECTION -->
    <div class="d-flex justify-content-center footer-paragraph">
      <p>ABOUT US</p>
      <p>CONTACT US</p>
      <p>EDITORITAL POLICY</p>
      <p>DISCLAIMER</p>
      <p>PRIVACY POLICY</p>
      <p>SITEMAP</p>
    </div>
    <!-- CREDIT&RIGHTS -->
  </div>
  <div class="copyright text-center credit">
    <p>Copyright &copy; 2020 | NodejsProject | Designed by Lev.k</p>
  </div>
</footer>
