<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Links -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- CSS LINKS -->
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/navBar.css" />
    <link rel="stylesheet" href="/stylesheets/homepage.css" />
    <link rel="stylesheet" href="/stylesheets/xbox.css" />
    <link rel="stylesheet" href="/stylesheets/ps4.css" />
    <link rel="stylesheet" href="/stylesheets/authform.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />

    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <!-- title -->
    <title>Nodejs_Project</title>
  </head>
  <body>
    <div class="containter">
      <!-- navBar -->
      <%- include('./components/navBarComp')%>

      <!-- BODY LAYOUT -->
      <%-body %>

      <!-- FOOOTER -->
      <%- include('./components/footer')%>
    </div>
  </body>
</html>
