<section>
  <div class="ps4-page">
    <%-include('./components/ps4/ps4img') %>
    <div class="icons-div">
      <!-- <-- space -->
      <%-include('./components/ps4/ps4icons') %>
    </div>
    <div class="ps4-shop">
      <%-include('./components/ps4/ps4Cards') %>
      <%-include('./components/ps4/ps4pagination') %>
      <hr />
    </div>
  </div>
</section>
