<section>
  <div class="xbox-page">
    <%-include('./components/xbox/xboximg') %>
    <%-include('./components/xbox/xboxicons') %>
    <div class="xbox-shop">
      <%-include('./components/xbox/xboxCards') %>
      <%-include('./components/xbox/xboxPagination') %>
      <hr />
    </div>
  </div>
</section>
