<hr class="ps4-icon-hr1" />
<div class="ps4-icons">
  <div>
    <i class="fas fa-gamepad"></i>
    <p>Games</p>
  </div>
  <div>
    <i class="fab fa-playstation"></i>
    <p>Console</p>
  </div>
  <div>
    <i class="fas fa-headphones-alt"></i>
    <p>Accessories</p>
  </div>
  <div>
    <i class="fas fa-users"></i>
    <p>PS4 Plus</p>
  </div>
  <div>
    <i class="fas fa-tag"></i>
    <p>Deals</p>
  </div>
  <div>
    <i class="fas fa-user"></i>
    <p>Sign in</p>
  </div>
</div>
<hr class="ps4-icon-hr2" />
