<hr class="icon-hr" />
<div class="xbox-icons">
  <div>
    <i class="fas fa-gamepad"></i>
    <p>Games</p>
  </div>
  <div>
    <i class="fab fa-xbox"></i>
    <p>Console</p>
  </div>
  <div>
    <i class="fas fa-headphones-alt"></i>
    <p>Accessories</p>
  </div>
  <div>
    <i class="fas fa-users"></i>
    <p>XBOX Live</p>
  </div>
  <div>
    <i class="fas fa-tag"></i>
    <p>Deals</p>
  </div>
  <div>
    <i class="fas fa-user"></i>
    <p>Sign in</p>
  </div>
</div>
<hr class="icon-hr" />
